body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(8, 70, 77)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: #eee;
}

p{
  margin: 5px 0px 5px 0px;
}

nav{
  background-color: lightskyblue;
  font-size: 18px;
  font-weight: 500;
}

.navbar-brand, .nav-link{
  color: black;
}

.navbar-brand:hover, .nav-link:hover {
  cursor: pointer;
}

.categories{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category{
  text-decoration: none !important;
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  margin: 5px 10px 5px 10px;
}

.category:hover{
  cursor: pointer;
}

.category-img{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: lightskyblue;
}

.category-img:hover{
  background-color: #457a93;
}

.h2-title{
  text-align: center;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.panel{
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-bottom: 15px;
}

label{
  margin-bottom: 8px;
  font-size: 18px;
}

.form-control{
  border-radius: 2px !important;
  background-color: rgb(242, 244, 245) !important;
  font-size: 18px !important;
  margin-bottom: 20px;
  min-width: 300px !important;
}

.btn{
  float: right;
}

.addimage{
  width: 160px;
  height: 160px;
  display: grid;
  margin: 0px 20px 20px 0;
}

.file-image{
  width: 100%;
  background-color: grey;
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

.file-input:hover{
  cursor: pointer !important;
  background-color:black;
  opacity:0.1;
}

.file-input{
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  border: none;
  font-size:0;
}

.ads{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.ad-home{
  width: 260px;
  height: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top:10px;
  margin: 10px;
  padding: 15px;
  border-radius: 4px;
}

.ad-home-img{
  width: 230px;
  height: 200px;
  object-fit:cover;
}

.invalid-feedback{
  font-size: 100% !important;
  margin-bottom: 10px !important;
}

.is-invalid{
  margin-bottom: 0px !important;
}

.form-select{
  margin-bottom: 15px;
}

.btn-primary{
  background-color: lightskyblue;
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
}

.ad{
  width: 100%;
}

.ad > div > div{
  width: 100%;
  background-color: white;
  margin: 30px;
  padding: 20px 25px 20px 25px;
  border-radius: 4px;
}

.images{
  display: flex;
  justify-content: center;
}

.ad-img{
  width: calc(80%);
  height: calc(80%);
  object-fit:cover;
  margin: auto;
}

.details > div{
  margin: 10px 0px 30px 0px;
}

.details-top{
  display: flex;
  justify-content: space-between;
}

.details-top > p{
  margin: 0px;
}

.details-price{
  display: flex;
  align-items: baseline;
}

.details-price > p{
  margin: 0px 0px 0px 10px;
}

.login-panel{
  background-color: white;
  margin-top: 200px;
  width: fit-content;
  margin: 200px auto 0px auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.login-form{
  padding: 30px;
}

.buttons{
  display: flex;
  width: 100%;
}

.button{
  width: 50%;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.button-selected{
  background-color: white;
}

.button-notselected{
  background-color: rgb(137, 155, 167);
}

.button-notselected:hover{
  background-color: white;
  transition: 0.2s;
}

.button-left{
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button-right{
  border-top-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.faButton{
  border: none;
  background-color: white;
}

.fa-heart{
  font-size: 24px;
}